<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav"
               [fixedInViewport]="true" [fixedTopGap]="0"
               [fixedBottomGap]="0">
    <mat-nav-list class="categoriesList">
      <mat-list-item  class="categoryClass" *ngFor="let item of items">
        <a matLine routerLink="{{item.route}}">{{item.name}}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-root></app-root>
  </mat-sidenav-content>
</mat-sidenav-container>
