<style>
  .input{
    border-left:solid 0 !important;
    border-right:solid 0!important;
    border-top:solid 0!important;
    border-bottom:solid grey 1px!important;
  }
</style>
<main class="page blog-post-list">
  <section class="clean-block clean-blog-list dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Личный кабинет</h2>
      </div>
      <div class="block-content">
        <div class="clean-blog-post">
          <div class="row">
            <div class="col-lg-5 col-xl-4">
              <h3>Контактные данные</h3><small class="form-text text-muted">Контактное лицо:<input class = "input"type="text" /></small><small class="form-text text-muted">Номер телефона:<input type="tel" /></small><small class="form-text text-muted">Электронная почта:</small><input
              type="email" /><small class="form-text text-muted">Адреса доставки:<div class="group"><input type="text" required /><span class="highlight"></span><span class="bar"></span><label>Label</label></div></small><small class="form-text text-muted">Изменение пароля:<input type="password" /></small></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
